body {
    font-family: Arial , sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: graytext;
}

body{
  background: #c7c2c2;
}
.print-area {
  width: 1100px;
  margin: 80px auto;
}

form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
